# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/logs/
/target/
/nature-data-import.iml
/ftp_PUB_19-04-06_05-50-17.zip
/local_site.xlsx
